{{ $item := . }}


<div class="pub-list-item" style="margin-bottom: 1rem">
  <div class="media stream-item">
 
  <!-- <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>
  ({{- .Date.Format "2006" -}}). -->
  <!-- <a href="{{ .RelPermalink }}">{{ .Title }}</a>. <i>{{ .Params.venue }}</i>. -->


  {{ if in $item "/publications/" }}

    <div class="mr-3">
      <div data-badge-popover="right" data-badge-type="donut" data-doi="{{ .Params.doi }}" class="altmetric-embed"></div>
      <span class="__dimensions_badge_embed__" data-doi="{{ .Params.doi }}" data-style="small_circle"></span>
    </div>
    <div class="media-body">
      {{/* APA Style */}}
      {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}
    <a href="{{ .RelPermalink }}">{{ .Params.summary }}</a>.
  

  <!-- <a href="{{ .RelPermalink }}">{{ .Params.summary }}</a>. -->
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}}.
  {{ end }}
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{/* MLA Style */}}
  {{ else }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}.
  </span>
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>. {{ .Params.venue }}.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}},
  {{ end }}
  {{- .Date.Format "2006" -}}.
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{ end }}


  {{ else if eq $item.Type "media" }}

    {{ $link := $item.RelPermalink }}
    {{ $target := "" }}
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
  
    <div class="mr-3">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
        <img src="{{ $image.RelPermalink }}" class="article-banner" alt="{{ $item.Title }}">
      </a>
    </div>
  
    {{end}}
  
    <div class="media-body">
      <h3 class="article-title mb-0 mt-0">
        <a href="{{ $item.RelPermalink }}" >{{ $item.Params.headline }}</a>
      </h3>
      
        {{ with $item.Params.summary }}
        <a href="{{ $item.RelPermalink }}" class="summary-link">
          <div class="article-style">
            <p>{{.}}</p>
          </div>
        </a>
        {{ end }}


      <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

      



    {{ end }}

    </div>
  </div>

  
</div>
